/*Typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

.callout {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.05em;
  margin: .5em 0;
}

h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 4em;
  margin: 0 .5em;
  text-align: center;
}

h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 2.85em;
  text-align: center;
  letter-spacing: 0.05em;
}

h3 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8em;
  letter-spacing: 0.03em;
  color: #B7142E;
  border-bottom: 0.5px solid #000000;
  padding-bottom: .5em;
  text-align: center;
}

.congratulations {
  font-family: Playfair Display;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.congratulations a {
  text-decoration: underline;
  color: white;
  letter-spacing: 0.05em;
}

.message {
  max-width: 850px;
  margin: 4em 0;
}  

.honors {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.15em;
  text-align: center;
  letter-spacing: 0.05em;
  color: #B7142E;
}

.degree {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 0.05em;
}

.advice {
  text-align: left;
} 

.quote, .byline {
  font-family: Lato;
  font-weight: normal;
  font-size: 1em;
  color: #696969;
  text-align: center;
  font-style: italic;
}

.plans, .advice, ul {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: .9em;
  letter-spacing: 0.03em;
}

.label {
  font-weight: 700;
}

.social-link a {
  font-family: Playfair Display;
  font-style: italic;
  font-weight: bold;
  font-size: .9em;
  letter-spacing: 0.03em;
  color: #b7142e;
  text-decoration: none;
}

a:visited {
  color: #810E21;
}

a:hover {
  color: #DC1839
}

/* Whole Page */
body {
  margin: 0;
  background-color: #f0f0f0;
}

/* Intro or Header Section */
.line {
  border: .25px solid #000000;
  width: 80%;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #B7142E;
  align-items: center;
  background-image: url('https://i.imgur.com/2txCxjP.png');
  background-repeat: no-repeat;
}

#banner {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.25);
  padding: 4em 0;
  width: 100%;
  margin-top: 8em;
}

#header-row {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  align-items: center;
  margin-bottom: 3em;
  margin-top: 0;
}
/* Student Cards */
.student {
  display: flex;
  flex-flow: row wrap;
  max-width: 850px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 2em;
  gap: 2em;
  margin-bottom: 3em;
  background-color: #ffffff;
}

img {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  max-width: 400px;
}

.info {
  max-width: 400px;
  margin: auto;
}

.social-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.social-link svg {
  padding-top: 3px;
  padding-right: 5px;
  width: 20px;
  height: 20px;
}

/* Advice Section */
#instructors {
  display: flex;
  flex-direction: column;
  background-color: #B7142E;
  align-items: center;
}

#instructors h2 {
  color: white;
  margin-top: 3em;
}

.tips {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  justify-content: space-around;
}

.faculty {
  width: 350px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: .5em 1.5em;
}

/* Footer */
footer {
  background-color: #202020;
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  justify-content: center;
}

footer a {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  color: white;
}

footer p {
  font-family: Lato;
  font-style: normal;
  color: white;
  text-align: center;
  line-height: 115%;
}